<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.runalone.up">

    <application
        android:name="com.example.upcomponent.appInject.UpApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_app_login"
        android:label="@string/app_name_alone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.runalone.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.upcomponent.BaseActivity" />
        <activity android:name="com.example.upcomponent.UpActivity"/>
        <activity android:name="com.example.upcomponent.activity.Demo6Activity"/>
        <activity android:name="com.example.upcomponent.activity.Demo7Activity"/>
        <activity android:name="com.example.upcomponent.activity.Demo8Activity"/>
    </application>

</manifest>