<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snlcomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_app_login"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"/>
        <activity android:name=".ShareActivity"
            android:theme="@style/common_dialog.bottomInOut"/>
    </application>

</manifest>