<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.upcomponent">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name="com.example.upcomponent.BaseActivity"/>
        <activity android:name="com.example.upcomponent.UpActivity"/>
        <activity android:name="com.example.upcomponent.activity.Demo6Activity"/>
        <activity android:name="com.example.upcomponent.activity.Demo7Activity"/>
        <activity android:name="com.example.upcomponent.activity.Demo8Activity"/>
    </application>

</manifest>